# General
newlines              = lf
indent_with_tabs      = 0
input_tab_size        = 4
output_tab_size       = 4
indent_columns        = 4
indent_class          = true
indent_namespace      = true
indent_switch_case    = 1
indent_preproc_block  = true
indent_brace          = 0
indent_paren_nl       = true
indent_func_call_param = true
indent_func_def_param = true
nl_collapse_empty_body = false

# ()
sp_func_def_paren           = true
sp_func_call_paren          = true
sp_inside_fparens           = true
sp_inside_fparens_empty     = false
sp_inside_paren             = true
sp_inside_paren_empty       = false

# []
sp_inside_square            = true
sp_inside_square_empty      = false

# <>
sp_inside_angle             = true
sp_inside_angle_empty       = false

# Arguments
sp_before_comma             = false
sp_after_comma              = true

# Operators
sp_arith                    = true
sp_assign                   = true
sp_bool                     = true
sp_compare                  = true

# Declarations
nl_after_func_proto         = true
nl_after_func_def           = true
nl_func_decl_args           = true
nl_func_def_args            = true
nl_class_brace              = true
nl_struct_brace             = true
nl_union_brace              = true
nl_enum_brace               = true
nl_func_paren               = false

# Constructors
mod_ctor_init_one_per_line = true
nl_after_ctor_init_colon   = true
nl_after_ctor_init_comma   = true
sp_after_ctor_colon        = true
sp_after_ctor_comma        = true

# {}
mod_full_brace_do           = true
mod_full_brace_while        = true
mod_full_brace_for          = true
mod_full_brace_if           = true
mod_full_brace_else         = true

# Classes and Structs
sp_before_class_colon       = true
sp_before_struct_colon      = true
sp_before_ctor_colon        = true
sp_inside_class_paren       = true
sp_inside_struct_paren      = true
